/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    immunespace/scintegrator Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

// conf/base.config
process {
    cpus   = { Math.min( 1    * task.attempt, params.max_cpus as int ) }
    memory = { [6.GB  * task.attempt, params.max_memory as nextflow.util.MemoryUnit].min() }
    time   = { [4.h   * task.attempt, params.max_time   as nextflow.util.Duration].min()   }

    withLabel:process_single {
        cpus   = { Math.min( 1,     params.max_cpus as int ) }
        memory = { [6.GB   * task.attempt, params.max_memory as nextflow.util.MemoryUnit].min() }
        time   = { [4.h    * task.attempt, params.max_time   as nextflow.util.Duration].min()   }
    }
    withLabel:process_low {
        cpus   = { Math.min( 2     * task.attempt, params.max_cpus as int ) }
        memory = { [12.GB  * task.attempt, params.max_memory as nextflow.util.MemoryUnit].min() }
        time   = { [4.h    * task.attempt, params.max_time   as nextflow.util.Duration].min()   }
    }
    withLabel:process_medium {
        cpus   = { Math.min( 6     * task.attempt, params.max_cpus as int ) }
        memory = { [36.GB  * task.attempt, params.max_memory as nextflow.util.MemoryUnit].min() }
        time   = { [8.h    * task.attempt, params.max_time   as nextflow.util.Duration].min()   }
    }
    withLabel:process_high {
        cpus   = { Math.min( 12    * task.attempt, params.max_cpus as int ) }
        memory = { [72.GB  * task.attempt, params.max_memory as nextflow.util.MemoryUnit].min() }
        time   = { [16.h   * task.attempt, params.max_time   as nextflow.util.Duration].min()   }
    }
    withLabel:process_long {
        time   = { [20.h   * task.attempt, params.max_time   as nextflow.util.Duration].min()   }
    }
    withLabel:process_high_memory {
        memory = { [200.GB * task.attempt, params.max_memory as nextflow.util.MemoryUnit].min() }
    }
}
